!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/httpRequests
*.iws
*.iml
*.ipr
out/*
target/*
src/main/webapp/doctorScheduleUI/*
src/main/resources/application.properties